@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

/* null styles ================================================ */
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "PT Sans";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "PT Sans";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    font-size: 15px;
    overflow-x: hidden;
}
/* null styles ================================================ */

/* main styles ================================================ */
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* main styles ================================================ */

/* form styles ================================================ */
.form {
    margin: 0 0 40px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.form__input {
    flex: 0 1 80%;
    padding: 0 20px 0 0;
}

.form__input input {
    font-size: 20px;
    border: 3px solid #1B2B61;
    padding: 10px 20px;
    width: 100%;
}

.form__btn {
    flex: 0 1 20%;
    padding: 0 0 0 20px;
}

.form__btn button {
    font-size: 20px;
    background-color: #1B2B61;
    color: #fff;
    padding: 13px 20px;
    width: 100%;
}
/* form styles ================================================ */

/* table styles ================================================ */
.table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    border: 3px solid #1B2B61;
}

.table__head {
    background: linear-gradient(256.43deg, #1B2B61 0%, #393939 100%);
    color: #fff;
    font-size: 20px;
}

.table__head tr th {
    padding: 15px 0;
}

.table__body {

}

.table__body tr td {
    padding: 10px;
    font-size: 15px;
    border: 3px solid #1B2B61;
}

.table__img {
    position: relative;
}

.table__img {
    position: relative;
}
/* table styles ================================================ */

/* pic tooltip ================================================ */
.img-s {
    cursor: pointer;
}

.img-b {
    position: absolute;
    top: 0px;
    left: 80px;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    border: 10px solid #1B2B61;
    transition: all .4s ease;
}

.img-s:hover + .img-b {
    visibility: visible;
    opacity: 1;
}
/* pic tooltip ================================================ */
.load {
    margin: 20px 0 0 0;
    border-top: 16px solid rgb(62, 62, 216);
    border-right: 16px solid rgb(83, 214, 83);
    border-bottom: 16px solid rgb(230, 90, 90);
    border-left: 16px solid rgb(191, 89, 204);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation-name: load;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes load{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.wrong h2 {
    color: rgb(185, 0, 0);
    margin: 20px 0 0 0;
    font-size: 25px;
    font-weight: 700;
}